@import url("./components/header/menu.css");
@import url("./components/header/btn_toggler.css");

header{
    height: 500px;
    background-color: var(--cor-secundaria);
}

#container-nav{
    height: 5rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{ 
    width: 250px;
    height: 100%;
}

.container-dark-mod{
    margin-right: 48px;
    margin-left: 48px;
}