@import url("./components/header/menu.css");
@import url("./components/header/btn_toggler.css");
header{
    border: 1px solid rgb(255, 255, 255);
    height: 550px;
    background-color: #131415;
}

#container-nav{
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{ 
    width: 250px;
    height: 100%;
}

#container-home{
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
