@import url("./components/header/menu.css");
@import url("./components/header/btn_toggler.css");
header{
    border: 1px solid rgb(255, 255, 255);
    height: 550px;
    background-color: var(--cor-secundaria);
}

#container-nav{
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    height: 8rem;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo,
#container-social{
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo img{ 
    width: 250px;
    height: 100%;
}

.container-dark-mod{
    margin-right: 48px;
    margin-left: 48px;
}


#container-home{
    margin: 20px;
    border: 1px solid rgb(255, 255, 255);
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#container-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}