@import url("./components/home/social.css");
@import url("./components/home/download-cv.css");
@import url("./components/home/scrollInfite.css");


#container-home h1{
    color: white;
    font-size: 3.6rem;

}
#container-home span{
    color: var(--cor-primaria);
}

#container-home h2 {
    color: white;
    font-size: 1.8rem;
}
