main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    height: 90vh;
    margin: 0 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    background-color: var(--cor-fundo);
    position: relative;
    border-radius: 20px;
}


.border-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    height: calc(100% - 5px);
    color: var(--cor-letras);
    background-color: var(--cor-fundo);
    border: 2px solid var(--cor-principal);
    border-radius: 20px;
}

.flex-title {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btn button {
    margin-left: 2.3em;
    background-color: transparent;
    border: 2px solid var(--cor-principal);
    padding: 0.5em 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    color: var(--cor-letras);
    transition: .5s;
}

.btn button:hover {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    border: 2px solid var(--cor-letras);
}



.border-container h2 {
    margin-right: 2em;
    margin-bottom: 20px;
    color: var(--cor-principal);
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
    border-left: 4px solid var(--cor-principal);
    padding: .1em;
}


.middle {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.middle img {
    text-align: center;
    margin: 0px 10px 0px 100px;
    height: auto;
    width: 350px;
    border-radius: 10px;
}

.sobre h3 {
    text-align: start;
    margin-left: 1.6em;
    margin-top: 1em;
    margin-bottom: 0;
    color: var(--cor-principal);
}

.sobre p {
    text-align: justify;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 30px;
    margin-top: 30px;
}