#prllx {
    margin-top: 7rem;
    color: #242424;
    font-family: sans-serif;
    word-wrap: break-word;
}

.warapper {
    width: 100%;
    margin: 0 auto;
}

section.module.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

section.module.parallax:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #000 100%);
}

section.module.paralax-1 {
    background-image: url("../public/img/wssdgsfsdf.jpg");
}

section.module.parallax h2 {
    color: #f7f7f7;
    text-shadow: 0 0 15px #1a1a2e;
    text-align: center;
    font-size: 78px;
    text-transform: uppercase;
}