#container-menu{
    
}
#container-menu ul{
    display: flex;
    gap: 50px;
    
}
#container-menu ul li{
    position: relative;
}
#container-menu ul li a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;

}

#container-menu ul li a:hover{
    color: #FFD700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7);
}

nav ul li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 50%;
    background-color: #FFD700;
    transition: all 0.3s ease;
}
nav ul li:hover::after {
    width: 100%;
    left: 0;
}