
.scroll {
    margin-inline: auto;
    max-width: 100%;
    background-color: var(--cor-secundaria);
    padding: 25px 0px;
    overflow: hidden;
}

.scroll__container{
    display: flex;
    gap: 10px;
    width: max-content;
    animation: scrollInfinito 10s linear infinite;
}
.scroll__itens{
    background-color: var(--cor-primaria);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    white-space: nowrap;
    border-radius: 10px;
}
@keyframes scrollInfinito {
    100% {
        translate: calc(-50% - 5px);
    }
}