.card {
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 250px;
  }
  
.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  padding: 0.25rem;
  cursor: pointer;
}
  
.card .social-link1,.card .social-link2,.card .social-link3,.card .social-link4,.card .social-link5 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}
  
.card svg {
  transform: scale(1);
}
  
  
.card .social-link2:hover {
  background: linear-gradient(to right, #24292e, #6e5494, #24292e);;
  animation: bounce_613 0.4s linear;
}
  
.card .social-link3:hover {
  background-color: #5865f2;
  animation: bounce_613 0.4s linear;
}
  
.card .social-link4:hover {
  background-color: #0a66c2;
  animation: bounce_613 0.4s linear;
}
  
  
@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.8);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}